.logo-small {
	width: 256px;
	height: 64px;
	min-width: 256px;
}

.logo-small img {
	width: 100%;
	height: auto;
}

.logo-large {
	width: 512px;
	height: 512px;
	min-width: 512px;
}

.logo-large img {
	width: 100%;
	height: auto;
}
