html,
body {
  height: 100%;
  background-color: #333;
}

html {
	font-family: Hack,sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

hr {
	border-top: 1px solid #9B9B9B;
}

a,
a:focus,
a:hover {
  color: #fff;
}

.text-shadow {
	text-shadow: 0 0 0.5em orange;
}

.portrait {
	display: block;
	width: 256px;
	height: 256px;
	min-width: 128px;
}

.portrait img {
	width: 100%;
	height: auto;
}

.logo-large img {
	width: 256;
	height: 256;
	min-width: 256;
}

.icon-github {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github.png');
}

.icon-github:hover {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github-white.png');
}

.icon-twitter {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/twitter.png');
}

.icon-twitter:hover {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/twitter-white.png');
}

.logo {
    margin-top: 100px;
    padding: 30px;
}

.inner {
    text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em;
  background-color: #222;
  border-top: 2px #444 solid;
}