html, body {
	color: white;
	font-size: 13pt;
	background: -webkit-linear-gradient(rgb(47, 0, 116), black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(47, 0, 116), black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(47, 0, 116), black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(47, 0, 116), black); /* Standard syntax */
}

.content {
	background: #111;
	padding: 3em;
}

.indent {
	padding: 2em;
}

.footer {
	margin-top: 2em;
	padding: 2em;
}

.text-shadow {
	text-shadow: 0 0 0.5em red;
}

.text-light {
	color: white;
}

.text-center {
	text-align: center;
}

.portrait {
	display: block;
	width: 256px;
	height: 256px;
	min-width: 128px;
}

.portrait img {
	width: 100%;
	height: auto;
}

.logo-small {
	width: 256px;
	height: 64px;
	min-width: 256px;
}

.logo-small img {
	width: 100%;
	height: auto;
}

.logo-large {
	width: 512px;
	height: 512px;
	min-width: 512px;
}

.logo-large img {
	width: 100%;
	height: auto;
}

.icon-github {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github.png');
}

.icon-github:hover {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github-white.png');
}

.icon-twitter {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/twitter.png');
}

.icon-twitter:hover {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/twitter-white.png');
}

