* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  margin: 2em 10% 2em 10%;
  font: 1em helvetica, arial, sans-serif;
}

h1, h2, h3 {
  color: orange;
  margin: 0.5em;
}

p, ul {
  margin: 2.0em;
}

a {
  color: rgb(70, 195, 235);
  text-decoration: none;
}

li {
  margin: 0.25em;
}

.round {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}

.spaced {
  padding-left: 1em;
  padding-right: 1em;
}

.background {
  background: #333;
  padding: 1em;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
}

/**************************************
 * Header / Footer
 **************************************/

#header .header {
  display: block;
  margin: 1em;
  overflow: hidden;
}
 
#header .title {
  float: left;
}
 
#header .navigation {
  float: right;
  text-align: right;
}

#header a {
  padding: 1.5pt;
}

#footer {
  display: block;
  margin: 2em;
  text-align: center;
  font-size: 0.8em;
  color: #777;
}

/**************************************
 * Main
 **************************************/
 
#content {
  font-size: 0.9em;
}

#main {
  padding: 0.5em;
}

#lower_content {
  margin: 1em;
  background: #666;
}
