%div#main
  %h3 About Uncanny Works
  %p Uncanny Works is a virtual company ran by Brian "bojo" Jones, a senior systems engineer specializing in server infrastructure, social games, and Unity3d based smartphone game development.
