%div#main
  %h3 Indie Game Development
  %p Developing games for smartphones in Unity3d.
  %p
    %a{:href => "http://www.erosthegame.com"} Eros (iOS/Android) - Space TD/RTS game.
  
  %h3 Server Infrastructure Consulting
  %ul
    %li Several years of experience with social game server infrastructure, scaling, and maintenance at Japanese companies.
    %li Various consulting projects on Rackspace involving tools like MongoDB, MySQL, Apache, Nginx, Memcached, Ganglia for server monitoring, etc.
    %li Consulting available upon request.
