!!! 5
%html
  %head
    %title Uncanny Works
    %link{:rel => "stylesheet", :href => "/css/uncanny.css", :type => "text/css", :media => "all"}
  %body
    %div#header
      %span.header
        %span.navigation
          %a{:href => "/"} Home
          %a{:href => "/about"} About
          %a{:href => "/contact"} Contact
        %span.title 
      
    %div#content
      = yield

    %span#footer
      %span
        Copyright &copy; 2012
        = "- %i" % Time.now.year unless Time.now.year == 2012
      %a{:href => "http://www.uncannyworks.com"} Uncanny Works
      %span - All Rights Reserved
